/* styles.css */
.title {
    color: #007BFF; 
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.info {
    background-color: #EAF6FF; 
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between; /* Spread elements horizontally */
    width: 100%; /* Full-width elements */
}
.info p {
    margin: 0; /* Remove default margins for paragraphs */
}
.footer{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.header {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}
